.favicon {
    background-image: url(favicon.png);
}

.im1 {
    background-image: url(im1.webp);
}

.im2 {
    background-image: url(im2.jpg);
}

.im3 {
    background-image: url(im3.webp);
}

.im4 {
    background-image: url(im4.jpg);
}

.im5 {
    background-image: url(im5.jpg);
}

.im6 {
    background-image: url(im6.webp);
}

.im7 {
    background-image: url(im7.jpg);
}

.im8 {
    background-image: url(im8.jpg);
}

.im9 {
    background-image: url(im9.webp);
}

.im10 {
    background-image: url(im10.webp);
}

.im11 {
    background-image: url(im11.webp);
}

.im12 {
    background-image: url(im12.webp);
}

.im13 {
    background-image: url(im13.webp);
}

.im14 {
    background-image: url(im14.webp);
}

.im15 {
    background-image: url(im15.webp);
}